*{
  margin: 0;
  color:var(--color-text);
  text-decoration: none;
}

:root{
  --color-primary: #DC143C;
  --color-text: #fff;
  --color-secondary: #010606;
}



body{
  background: var(--color-secondary);
  min-height: 100vh;
}

#theme1{
  border-bottom: 5px solid var(--color-secondary);
}

